body {
   background-image: url('../img/background.jpg');
   background-size: cover;
   background-position: center;
   height: 100vh;
   margin: 0;
 }
 .navbar{
   width: 1200px;
   height: 75px;
   margin-left: 40px;

}
.icon{
   width: 100px;
   float: left;
   height: 50px;

}

.menu{
   width: 600px;
   float: left;
   height: 70px;
   margin-left: 98px;
  margin-right: -50px;
  margin-top: 8px;
}

ul{
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;

}

ul li{
   list-style: none;
   margin-left: 27px;
   margin-top: 10px;
   font-size: 13px;
}

ul li a{
   text-decoration: none;
   color:rgb(244, 237, 237)
   ;
}
.logo img{
   float: left;
   margin-top: 20px;
   width: 40px;
   height: auto;
}
ul li a:hover{
   color: rgb(19, 223, 56);
}
.srch{
   font-family: 'Times New Roman', Times, serif;
   width: 120px;
   height: 30px;
   background: transparent;
   float: left;
   border: 1px solid #ff7200;
   margin-top: 13px;
   color: rgb(231, 226, 219);
   border-right: none;
   font-size: 10px;
   padding: 10px;
   border-bottom-left-radius: 5px;

}
.btn{
   width: 80px;
   height: 30px;
   background: #ff7200;
   border: 2px solid #ff7200;
   margin-top: 13px;
   color-scheme: #fff;
   font-size: 10px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}
.btn:focus{
   outline:none;
}
.srch:focus{
   outline:none;
}
.content{
   width: 1200px;
   height: auto;
   margin: auto;
   color: #fdf9f9;
   position: relative;
   margin-left: -30px;
}
 
.content .par{
   padding-left: 10px;
   padding-bottom: 25px;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 1.2px;
   line-height: 30px;
}
.content .cn{
   width: 100px;
   height: 25px;
   background: #ff7200;
   border: none;
   margin-bottom: 15px;
   margin-left: 20px;
   font-size: 15px;
   border-radius: 10px;
   cursor: pointer;
   transition: 2s ease;
}
.content .cn a{
   text-decoration: none;
   color: black;
   transition: .3s ease;
}
.cn:hover{
   background-color: chartreuse;
}

.content span{
   color: goldenrod;
   
}

form{
  width: 200px;
  padding: 30px;
  background-color: #24212187;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-top: 20vh;
}
.form-group{
  margin-bottom: 10px;
}
.lable{
  display: black;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"]{
  width: 90%;
  height: 1px;
  background-color: #ddd;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;

}

button[type="submit"]:hover {
  background-color: rgb(255, 217, 4);
}

.login-container{
  position: absolute;
  color: #ff7200;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20px;
  
}

video{
      object-fit: cover;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
}
#username {
border-radius: 5px;
}
#password
{
  border-radius: 5px;
}

h2 
{
  font-size: 20px;
}
.log
{
  padding: 5px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 5px;
  background-color: #ff7200;
  border: 2px solid black;
  box-shadow: 2px white;
}
.heading
{
  padding-left: 0px;
}
.active{
  border-bottom: 3px solid #ff7200;
}